
<div class="nav-side-menu d-flex flex-column flex-shrink-0 p-5 sidebar" style="width: 25%;">
    <div>    
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-white text-decoration-none ">
            <span class="title">deepwell</span>
        </a>
        <hr>
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list ">
        <ul id="menu-content" class="menu-content collapse out nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/" aria-current="page" class="nav-link-2 w-nav-link w--current" style="max-width: 940px;">home</a>
            </li>
            <li>
                <a href="/globs" class="nav-link-2 w-nav-link" style="max-width: 940px;">create</a>
            </li>
            
            <li>
                <a href="#" class="nav-link-2 w-nav-link" style="max-width: 940px;">group</a>
            </li>
            <li>
                <a href="#" class="nav-link-2 w-nav-link" style="max-width: 940px;">about</a>
            </li>
            <li>
                <a href="#" class="nav-link-2 w-nav-link" style="max-width: 940px;">right..</a>
            </li>
        </ul>
    </div>
</div>
