
<div class="d-flex flex-column flex-shrink-0 p-5 sidebar" style="width: 25%;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-white text-decoration-none ">
      <span class="title">deepwell</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" aria-current="page" class="nav-link-2 w-nav-link w--current" style="max-width: 940px;">home</a>
      </li>
      <li>
        <a href="/globs" class="nav-link-2 w-nav-link" style="max-width: 940px;">create</a>
      </li>
      <li>
        <a href="#" class="nav-link-2 w-nav-link" style="max-width: 940px;">group</a>
      </li>
      <li>
        <a href="#" class="nav-link-2 w-nav-link" style="max-width: 940px;">about</a>
      </li>
      <li>
        <a href="#" class="nav-link-2 w-nav-link" style="max-width: 940px;">right...</a>
      </li>
    </ul>
    <hr>
    <div class="d-flex flex-shrink-0 px-3">
        <%- include("footer.ejs") %>
    </div>
  </div>